.prices {
  padding: 38px 109px;
  display: grid;
  grid-template-areas: "h2 contact-us" "prices-accourdion contact-us" "prices-accourdion img";
  grid-template-columns: 290px auto;
  grid-template-rows: 110px 100px auto;
  > h2 {
    grid-area: h2;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
  }
  .prices-accourdion {
    grid-area: prices-accourdion;
    padding: 34px 41px;
    width: max-content;
    border: 1px solid #e3e1d5;
    border-radius: 20px;
  }
  .contact-us {
    justify-self: end;
    grid-area: contact-us;
    width: 460px;
    text-align: right;
    h3 {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      text-align: right;
      color: #000000;
      > span {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: $colorGreen;
      }
    }
    button {
      width: 162px;
      height: 50px;
      border: 1px solid #e06733;
      border-radius: 5px;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #e06733;
      cursor: pointer;
      background-color: transparent;
    }
    > button:hover {
      background-color: #e06733;
      color: #fff;
    }
  }
  img {
    justify-self: end;
    grid-area: img;
  }
}
